.whole{
    height: 100vh;
    width: 0;
    margin-left: 60vh;
}
.leftNavImg{
    position: fixed;
    z-index: -99;
    width: 60vh;
    left: 0;
}
.navDetail{
    position: fixed;
    left: 0;
    top:0;
    padding: 20vh 0;
    height: 100%;
    width: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}
.ant-btn{
    margin: 8px;
}
.title > h1{
    font-size: 40px;
}
.ant-btn-background-ghost{
    color: rgb(53, 60, 68);
    border-color: rgb(53, 60, 68);
}